<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Ecomm App</display-name>

  <!-- Security constraint to protect all URLs -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Login configuration using BASIC auth -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>User Login</realm-name>
  </login-config>

  <!-- Declaring the user role -->
  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>
