<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Protect all URLs with BASIC auth -->
 

  <!-- Use BASIC authentication -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>MyRealm</realm-name>
  </login-config>

  <!-- Declare the security role -->
  <security-role>
    <role-name>admin</role-name>
  </security-role>

</web-app>
